<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Items Holder</title>
		
		<link rel="stylesheet" href="css/normalize.css" type="text/css">
		<link rel="stylesheet" href="css/index.css" type="text/css">
		<link rel="stylesheet" href="css/items.css" type="text/css">
		<link rel="stylesheet" href="css/comments.css" type="text/css">
		<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
			
	</head>
	<body>
		<div ng-app="myApp" ng-controller="ItemsController">

			<!--  NAVIGATION BAR  -->
			<nav class="navigation">
				<span class="chapter">Main</span>
				<a href="" ng-click="setItemsVisible()">
					<h3>Overview</h3>
				</a>
			</nav>
			<!--  /NAVIGATION BAR  -->
			
			<!--  PAGE CONTENT  -->
			<main>
				
				<!--  Items card  -->
				<div class="card item-card">
					<span class="chapter">Items</span>
					<div class="form">
						<form action="#">
						  <input type="text" ng-model="item" value="Type name here...">
						 	<button class="button" ng-click="addItem(item)">Add new</button>
						</form>
					</div>
			    <ul>
			      <li ng-repeat="item in items track by $index">
			        <span>
			          <a ng-href="#items/{{$index}}">
			          	<span ng-bind="item.itemName"></span>
			          	<span class="counter" ng-bind="item.commentsQuantity"></span>
			          </a>
			        </span>
			        <span>
			          <button class="delete-button" ng-click="deleteItem($index)">
									Delete
								</button>
			        </span>
			        <hr>
			      </li>  
			    </ul>
				</div>
				<!--  /Items card  -->
							
				<!--  Comments card  -->
				<div class="card comments-card">
					<div ng-view></div>
				</div>
				<!--  /Comments card  -->
					
			</main>
			<!--  /PAGE CONTENT  -->
			
		</div>	
	</body>
	
	<!-- Angular Library -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-route.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-animate.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-aria.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-messages.min.js"></script>

	<!-- My Library -->
	<script src="app/app.js"></script>
	<script src="app/Items/ItemsController.js"></script>
	<script src="app/Comments/CommentsController.js"></script>
	<script src="app/Items/StoringDefaultsService.js"></script>
	<script src="app/CachingService.js"></script>
	
</html>