<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Items Holder</title>
		
		<link rel="stylesheet" href="css/index.css" type="text/css">
		<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
			
	</head>
	<body>
		<div ng-app="myApp" ng-controller="ItemsController">

			<!--  NAVIGATION BAR  -->
			<nav class="navigation">
				<span class="chapter">Main</span>
				<a href="" ng-click="setItemsVisible()">
					<h3>Overview</h3>
				</a>
			</nav>
			<!--  /NAVIGATION BAR  -->
			
			<!--  PAGE CONTENT  -->
			<main>
				
				<!--  Items card  -->
				<div class="card" ng-if="itemsVisible" style="width: 100%">
					<span class="chapter">Items</span>
					<div>
						<form action="#">
						  <div>
						    <input type="text" id="sample1" ng-model="item">
						    <label for="sample1">Type name here...</label>
						  </div>
						 	<button ng-click="addItem(item)">
							  Add new
							</button>
						</form>
					</div>
			    <ul>
			      <li ng-repeat="item in items track by $index">
			        <span>
			          <a ng-href="#items/{{$index}}">
			          	<h5 ng-bind="item.itemName"></h5>
			          	<span ng-bind="item.commentsQuantity"></span>
			          </a>
			        </span>
			        <span>
			          <button ng-click="deleteItem($index)">
									Delete
								</button>
			        </span>
			        <hr>
			      </li>  
			    </ul>
				</div>
				<!--  /Items card  -->
							
				<!--  Comments card  -->
				<div class="card">
					<div ng-view></div>
				</div>
				<!--  /Comments card  -->
					
			</main>
			<!--  /PAGE CONTENT  -->
			
		</div>	
	</body>
	
	<!-- Angular Library -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-route.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-animate.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-aria.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-messages.min.js"></script>

	<!-- My Library -->
	<script src="app/app.js"></script>
	<script src="app/Items/ItemsController.js"></script>
	<script src="app/Comments/CommentsController.js"></script>
	<script src="app/Items/StoringDefaultsService.js"></script>
	<script src="app/CachingService.js"></script>
	
</html>